body {
    background-color: #333333;
    color: #ffffff;
    font-family: Arial, sans-serif;
  }
  
  h1 {
    font-size: 40px;
    margin-top: 50px;
    margin-bottom: 20px;
  }
  
  h2 {
    font-size: 36px;
    margin-bottom: 20px;
  }
  