{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="icon" href="{% static 'tasks/logo.ico' %}" type="image/x-icon">
  <link rel="stylesheet" href="{% static 'tasks/add_task.css' %}">
</head>

<body>
  <div id="user">
    {{user.username}}
  </div>
 

  <div id="dashboard" class="blur">
    {% include 'tasks/dashboard.html' %}
  </div>
  <form>
    
   <p style="font-style: italic;">Are you sure you want to delete "{{plan.title}}" Plan?</p>
   <a href="{% url 'delete-plan' plan.id %}" style="text-decoration: none;">Yes</a>&nbsp; &nbsp; <a href="{{request.META.HTTP_REFERER}}" style="text-decoration: none;">Cancel</a>
  </form>
  
</body>

</html>
