{% load static %}
<head>
	<link rel="icon" href="{% static 'home/logo.ico' %}" type="image/x-icon">
	<link rel="stylesheet" href="{% static 'home/forgot_password.css'%}">
</head>

<div class="container">
	<h1>Forgot Password</h1>
	<form method="post" id="emailForm">
		
		<input type="email" id="id_email" name="email" placeholder="Enter your email" required>
		<button type="submit">Send Code</button>
	</form>
	<div id="message" class="message">{{ message }}</div>
	<button class="hover"><a href="{% url 'login' %}" style ="text-decoration: none;" >Go Back</a></button>
</div>

